body {
  font-family: monospace;
  background-color: #f5f5f5;
}

:root {
  --tones: #596d48;
  --input-border: #e5e7eb;
  --focus: #1d4ed8;
  --error: red;
  --btn-hover: #103453;
  --btn-active: #0a2134;
}

.left_container {
  display: flex;
  width: 30vw;
  height: 100vh;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.left_container .logo {
  display: flex;
  min-height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  margin-bottom: 25rem;
  padding: 0;
}

.logo img {
  height: 150px;
  margin-right: 15px;
}
@font-face {
  font-family: "norse"; /* Name of the font */
  src: url("font/Norse-Bold.otf") format("opentype"); /* Path to the font file */
}

.logo h1 {
  color: white;
  font-size: 7rem;
  font-family: "norse", serif;
  margin: 0;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Take up full width of the .right_container */
  max-width: 800px; /* Optional: Set a max-width for better readability */

  padding: 0px;
  height: 100%;
  justify-content: space-evenly;
}
form label {
  font-size: 1rem; /* Adjusted font size for better readability */
  margin-bottom: 5px; /* Added margin for spacing */
}
.row {
  display: flex;
  width: auto;
  justify-content: start;
  padding: 5px;
}

.mod {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-right: 6rem;
}
input {
  margin-right: 100px;
  margin-bottom: 10px;
  width: 90%;
  outline: none;
}

.r1 {
  display: flex;

  width: auto;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}
.r2 {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a stronger box shadow with spread */
  border-radius: 5px;
  background-color: #fafafa;
}

.r3 {
  width: auto;
  flex: auto;
  box-shadow: inset;
}
input {
  height: 20px;
  border: 1px solid var(--input-border);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: monospace;
  background-color: #fafafa;
}
p {
  font-weight: bold;
  font-size: 1.5em;
}
.lasttext {
  display: flex;
  flex-direction: row;

  font-weight: bold;
  font-size: 1.1rem;
}
.login {
  color: var(--tones);
  margin-left: 10px;
}

.btn {
  height: 3rem;
  width: 14rem;
  font-size: 1.125rem;
  color: white;
  background-color: var(--tones);
  border: 1px solid transparent; /* Clear border */
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; /* Smooth transition */
}

.btn:hover {
  background-color: var(--btn-hover);
  transform: scale(1.05); /* Slight scale on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjusted shadow on hover */
}

.btn:active {
  background-color: var(--btn-active);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Light shadow on click */
}

input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: var(--error);
}

input:focus {
  border-color: var(
    --focus
  ); /* Set border color to the blue defined in :root */
  box-shadow: 0 0 5px rgba(29, 78, 216, 0.2); /* Add a subtle box shadow */
}
